<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stock search</title>
    <link rel="stylesheet" href="..\static\styles.css">
</head>
<body>
    <div class="container">
    <div class="stocksearch-container">
        
        <div>
            <h1>Stock Search</h1>
        </div>
        <form id="stockForm">
            <div class="stockform">
                <label for="stockname">Enter the name of the stock:</label>
                <input type="text" id="stockname" name="stockname" required>
            </div>
            <div class="buttons">
                <button class="submit" type="submit">Submit</button>
                <button class="clear" type="reset">Clear</button>
            </div>
        </form>
    </div>

<div class="shownavbar">


     
</div>
</div>
    <script src="..\static\scripts.js"></script>
</body>
</html>
